<center>
<img src="../../img/ods_stickers.jpg">
## Открытый курс по машинному обучению
<center>
Автор материала: Юрий Кашницкий, программист-исследователь Mail.Ru Group <br>

Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

# <center>Домашнє завдання № 1 (демо).<br> Аналіз даних доходів населення UCI Adult</center>

**В завданні пропонується за допомогою Pandas дати відповідь на кілька запитань по даним репозиторія UCI [Adult](https://archive.ics.uci.edu/ml/datasets/Adult).**

Унікальні значення ознак:
- age: continuous.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- fnlwgt: continuous.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- education-num: continuous.
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- salary: >50K,<=50K

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Скільки чоловіків и жінок (ознака *sex*) представлено в цьому наборі даних?**

In [3]:
# Ваш код тут
data['sex'].value_counts()

sex
Male      21790
Female    10771
Name: count, dtype: int64

**2. Який середній вік (ознака *age*) жінок?**

In [4]:
# Ваш код тут
data[data['sex'] == 'Female']['age'].mean()

36.85823043357163

**3. Яка доля громадян Німеччини (ознака *native-country*)?**

In [5]:
# Ваш код тут
data['native-country'].value_counts(normalize=True)['Germany']

0.004207487485028101

**4-5. Які средні значення та средньоквадратичні відхилення віку тих, хто отримує більше 50K на рік (ознака *salary*) і тих, хто отримує менше 50K на рік?**

In [6]:
# Ваш код тут
print(
    'Average age of those whose income is >50K:\t\t\t',
    data[data['salary'] == '>50K']['age'].mean(),
    '\nStandard deviation of age of those whose income is >50K:\t',
    data[data['salary'] == '>50K']['age'].std(),
    '\nAverage age of those whose income is <=50K:\t\t\t',
    data[data['salary'] == '<=50K']['age'].mean(),
    '\nStandard deviation of age of those whose income is >50K:\t',
    data[data['salary'] == '<=50K']['age'].std(),
)

Average age of those whose income is >50K:			 44.24984058155847
Standard deviation of age of those whose income is >50K:	 10.519027719851826
Average age of those whose income is <=50K:			 36.78373786407767
Standard deviation of age of those whose income is >50K:	 14.02008849082488

**6. Чи правда, що люди, які отримують більше 50k, мають як мінімум вищу освіту? (ознака *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [21]:
# Ваш код тут
higher_eductaion = ['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate']
rich_education = data[data['salary'] == '>50K']['education'].value_counts(normalize=True)

educated_proportion = rich_education[higher_eductaion].sum()
if educated_proportion == 1:
    print('Every person with salary >50K has higher education')
elif educated_proportion > 0.5:
    print('Most of people with salary >50K have higher education, but not every single one of them')
else:
    print('Most or the same amount of people with salary >50K do not have higher education')

Most of people with salary >50K have higher education, but not every single one of them
0.5783701058538452

**7. Порахуйте статистику віку для кожної раси (ознака *race*) і кожної статі. Використайте *groupby* и *describe*. Знайдіть таким сином максимальний вік чоловіків раси *Amer-Indian-Eskimo*.**

In [15]:
# Ваш код тут
race_desc = data.groupby(by='race')['age'].describe()
print(race_desc)
print(f"Max age for Amer-Indian-Eskimo: {race_desc['max']['Amer-Indian-Eskimo']}")

                      count       mean        std   min   25%   50%   75%  \
race
Amer-Indian-Eskimo    311.0  37.173633  12.447130  17.0  28.0  35.0  45.5
Asian-Pac-Islander   1039.0  37.746872  12.825133  17.0  28.0  36.0  45.0
Black                3124.0  37.767926  12.759290  17.0  28.0  36.0  46.0
Other                 271.0  33.457565  11.538865  17.0  25.0  31.0  41.0
White               27816.0  38.769881  13.782306  17.0  28.0  37.0  48.0

                     max
race
Amer-Indian-Eskimo  82.0
Asian-Pac-Islander  90.0
Black               90.0
Other               77.0
White               90.0
Max age for Amer-Indian-Eskimo: 82.0

**8. Серед кого більша доля багатіших (>50K): серед одружених чи не одружених чоловіків (ознака *marital-status*)? За одружених вважаємо тих, у кого *marital-status* починається із *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), всі інші - не одружені.**

In [22]:
# Ваш код тут
married = ['Married-civ-spouse', 'Married-spouse-absent', 'Married-AF-spouse']
rich_marital = data[data['salary'] == '>50K']['marital-status'].value_counts(normalize=True)

married_proportion = rich_marital[married].sum()
if married_proportion > 0.5:
    print('People with higher salaries are generally married')
else:
    print('People with higher salaries are equally married or signle or generally single')

People with higher salaries are generally married

**9. Яку максимальну кількість годин в тиждень працює людина (ознака *hours-per-week*)? Скільки людей працюють таку кількість годин і який відсоток серед них багатих?**

In [29]:
# Ваш код тут

max_work_hour = data['hours-per-week'].max()
data[data['hours-per-week'] == max_work_hour]['hours-per-week'].value_counts()

hours-per-week
99    85
Name: count, dtype: int64

**10. Порахуйте середню тривалість роботи на тиждень (*hours-per-week*) серед багатих і бідних (*salary*) для кожної країни (*native-country*).**

In [43]:
# Ваш код тут
data.groupby(by=['native-country', 'salary']).describe()['hours-per-week']['mean']

native-country  salary
?               <=50K     40.164760
                >50K      45.547945
Cambodia        <=50K     41.416667
                >50K      40.000000
Canada          <=50K     37.914634
                            ...
United-States   >50K      45.505369
Vietnam         <=50K     37.193548
                >50K      39.200000
Yugoslavia      <=50K     41.600000
                >50K      49.500000
Name: mean, Length: 82, dtype: float64